body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-rows: 25% 1fr 30%;
  grid-template-columns: 28% 1fr 37%;
  grid-template-areas:
        "a a e"
        "b d e"
        "b c c";
  grid-gap: 10px;
  padding: 10px;
}

.wrapper {
  border: 1px solid grey;
  border-radius: 4px;
}

.a {
  background-color: green;
  grid-area: a;
}

.b {
  background-color: yellow;
  grid-area: b;
}

.c {
  background-color: red;
  grid-area: c;
}

.d {
  background-color: #d74894;
  grid-area: d;
}

.e {
  background-color: blue;
  grid-area: e;
}

.kirby {
  contain: layout inline-size;
  position: relative;
  height: 100%;

  &:hover {
    cursor: grab;
  }

  &::before {
    content: '';
    position: absolute;
    // background-color: #d74894;
    background-size: contain;
    background-position: center;
    display: flex;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('./img/kirby.png');
  }
}

@container (max-width: 141px) {
  .kirby::before {
    background-image: url('./img/pikachu.png');
  }
}

@container (min-width: 300px) and (max-width: 321px) {
  .kirby::before {
    background-image: url('./img/link.png');
  }
}

@container (min-width: 180px) and (max-width: 190px) {
  .kirby::before {
    background-image: url('./img/sonic.png');
  }
}

@container (min-width: 345px) {
  .kirby::before {
    background-image: url('./img/mario.png');
  }
}
