body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-rows: 20% 1fr 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
        "a a a"
        "b c c"
        "b c c";
  grid-gap: 10px;
  padding: 10px;
}

.wrapper {
  border: 1px solid grey;
}

.one {
  grid-area: a;
}

.two {
  grid-area: b;
}

.three {
  grid-area: c;
}

.kirby {
  contain: layout inline-size;
  position: relative;
  height: 100%;
}

.kirby::before {
  content: '';
  position: absolute;
  background-color: #d74894;
  background-size: contain;
  display: flex;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('./img/mario.png');
}

@container (min-width: 450px) {
  .kirby::before {
    background-image: url('./img/link.png');
  }
}

@container (max-width: 160px) {
  .kirby::before {
    background-image: url('./img/pikachu.png');
  }
}
